.app-bar {
  @AppBar: .app-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary);

  &__logo {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 900;
  }

  &__nav {
    display: flex;
    gap: 10px;
    a {
      color: var(--color-text);
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: var(--color-secondary);
        cursor: pointer;
      }
    }
  }
}
