.day-selector {
    @DaySelector: .day-selector;
    --day-selector-button-color: var(--color-text);

    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 6px;
    
    &__input {
        border: 1px solid var(--color-primary);
        background-color: transparent;
        color: var(--color-text);
        font-size: 18px;
        text-align: center;

        &:focus {
            outline: none;
            border-color: var(--color-secondary);
            box-shadow: 0 0 5px var(--color-secondary);
            border-radius: 4px;
        }
    }

    &__button {
        border: 1px solid var(--color-primary);
        cursor: pointer;
        background-color: transparent;
        color: var(--day-selector-button-color);
        font-size: 26px;
        margin-bottom: 5px;

        &:hover {
            background-color: var(--color-primary);
            --day-selector-button-color: var(--color-secondary);
        }
    }
}