.day-selector {
    @DaySelector: .day-selector;
    --day-selector-button-color: var(--color-text);

    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 6px;

    &__button {
        border: 1px solid var(--color-primary);
        cursor: pointer;
        background-color: transparent;
        color: var(--day-selector-button-color);
        font-size: 26px;
        margin-bottom: 4px;

        &:hover {
            background-color: var(--color-primary);
            --day-selector-button-color: var(--color-secondary);
        }
    }
}