:root {
    // Colores
    --color-primary: #1c1c27;
    --color-secondary: #ccbb8b;
    --color-text: #dadada;
    --color-border: #ddd;

    // Tipografía
     --font-family-base: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;

    // Espaciado
    --spacing-01: 4px;
    --spacing-02: 8px;
    --spacing-03: 16px;
    --spacing-04: 24px;
    --spacing-05: 32px;

    // Bordes
    --border-radius-01: 4px;
    --border-radius-02: 8px;
    --border-radius-03: 16px;
}
